body {
    display: flex;
    flex-direction: column;
    justify-content: center; /*center horizontally*/
    align-items: center; /*center vertically*/
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 400px;
    width: 400px;
    padding: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 125px;

}

.button-container-x {
    position: absolute;
    display: flex;
    left: 25vw;
    top: 40vh;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.button {
    height: 100px;
    width: 100px;
    font-size: 40px;
}

.button-container-y {
    position: absolute;
    display: flex;
    left: 75vw;
    top: 40vh;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

#box1 {
    border-right: solid;
    border-bottom: solid;
}
#box2{
    border-right: solid;
    border-bottom: solid;
    border-left: solid;
}
#box3{
    border-left: solid;
    border-bottom: solid;
}
#box4{
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
}
#box5{
    border: solid;
}
#box6{
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}
#box7{
    border-top: solid;
    border-right: solid;
}
#box8{
    border-top: solid;
    border-left: solid;
    border-right: solid;
}
#box9{
    border-top: solid;
    border-left:solid;
}

#reset{
 top: 90vh;
}
