body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /*center horizontally*/
    align-items: center; /*center vertically*/
    background-color: cornflowerblue;
    background-image: radial-gradient( white, lightblue, blue);
}
h1{
    font-family: 'Bangers', cursive;
    font-size: 100px;
    margin-bottom: 0;
    margin-top: 0;
}

h3{
    font-family: 'Bangers', cursive;
}

#notification{
    font-family: 'Bangers', cursive;
    font-size: 50px;
}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 400px;
    width: 400px;
    padding: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 125px;
    font-size: 70px;
    font-family: 'Bangers', cursive;

}

.button-container-x {
    position: absolute;
    display: flex;
    left: 20vw;
    top: 45vh;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Bangers', cursive;
}

.button {
    height: 100px;
    width: 100px;
    font-size: 70px;
    text-align: center;

}

.button:hover{
    text-decoration-color: darkgray;

}
.button-container-o {
    position: absolute;
    display: flex;
    left: 70vw;
    top: 45vh;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Bangers', cursive;
}

#box1 {
    border-right: solid;
    border-bottom: solid;
}
#box2{
    border-right: solid;
    border-bottom: solid;
    border-left: solid;
}
#box3{
    border-left: solid;
    border-bottom: solid;
}
#box4{
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
}
#box5{
    border: solid;
}
#box6{
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}
#box7{
    border-top: solid;
    border-right: solid;
}
#box8{
    border-top: solid;
    border-left: solid;
    border-right: solid;
}
#box9{
    border-top: solid;
    border-left:solid;
}

#reset{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: navajowhite;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#reset:hover {background-color: yellow}

#reset:active {
    background-color: navajowhite;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.hide-button{
    display: none;
}

.winblink{
    animation: multiColor 1s linear 0s infinite;
}

@keyframes multiColor {
    from {background-color: red;}
    to {background-color: yellow;}
}

@media screen and (hover:none ) and (pointer: coarse) and (max-width: 830px){
    h1{
        font-size: 40px;
    }
    #notification{
        font-size: 25px;
    }
    .box{
        width: 100%;
    }
    .button-container-x{
        left: 2vw;
        top: 69vh
    }
    .button-container-o{
        left: 70vw;
        top: 68vh;
    }
}
